aiomysql==0.0.20
cffi==1.14.3
click==7.1.2
cryptography==3.2.1
fastapi==0.61.2
h11==0.11.0
pycparser==2.20
pydantic==1.7.2
PyMySQL==0.10.1
six==1.15.0
sqlparse==0.4.1
starlette==0.13.6
tabulate==0.8.7
uvicorn==0.12.2
yoyo-migrations==7.2.0
